.input-wrapper {
	margin-top: 10px;
	display: flex;
	flex-direction: row;
	margin-top: 10px;
	box-shadow: var(--base-shadow);
	border-radius: var(--base-radius);
	transition: all 0.2s cubic-bezier(0, 0, 0.5, 0.15);

	.input-password {
		border-bottom-right-radius: 0;
		border-top-right-radius: 0;
		border-top-left-radius: var(--base-radius);
		border-bottom-left-radius: var(--base-radius);
		width: 100%;
		height: 40px;
		border: none;
		padding: 7px 10px;
		box-shadow: none;
	}

	.eye {
		border-bottom-right-radius: var(--base-radius);
		border-top-right-radius: var(--base-radius);
		background: var(--base-panel);
		width: 100%;
		font-size: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		max-width: 50px;
		cursor: pointer;
	}
}

.focus {
	box-shadow: var(--base-shadow-primary);
	transition: all 0.2s cubic-bezier(0, 0, 0.5, 0.15);
}
