.tab {
	position: absolute;
	height: 35px;
	width: 100%;
	display: block;
}

.tab_content {
	display: flex;
	flex-direction: row;
	align-content: space-between;
	/* justify-content: space-around; */
	flex-wrap: wrap;
	margin: 145px auto 0 auto;
	padding-bottom: 100px;
	padding-left: 20px;
	padding-top: 15px;
	align-items: flex-start;
	overflow: auto;
	align-self: flex-end;
}

@media (max-width: 392px) {
	.tab_content {
		padding-left: 15px;
		margin: 80px auto 0 auto;
	}
}

@media (min-width: 767px) {
	.tab_content {
		margin-left: 230px;
	}
}
