.tab {
    position: absolute;
    height: 35px;
    width: 100%;

}

.categorie_card_area {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    /* justify-content: space-around; */
    flex-wrap: wrap;
    overflow: auto;
    margin: 145px auto 0 auto;
    padding-bottom: 100px;
    padding-left: 30px;
    padding-top: 15px;
}

.categorie_card {
    display: flex;
    flex-grow: 2;
    box-shadow: 2px 4px 12px rgb(0, 0, 0, 0.08);
    margin: 0 30px 30px 0;
    border-radius: 25px;
    transition: all .3s cubic-bezier(0,0,.5,1);
    width: 150px;
    height: 96px;
    background: linear-gradient(301.13deg, #9EF956 -1.1%, #F5FF84 105.29%);
    max-width: 400px;
}

@media (max-width:392px) {
    .categorie_card {
        margin: 0 15px 15px 0;
        min-width: 150px;
    }

    .categorie_card_area {
    padding-left: 15px;
    margin: 80px auto 0 auto;
    }
}

@media (min-width:767px) {
    .categorie_card_area {
        margin-left: 230px;
    }
}

.categorie_card_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.categorie_card:hover {
    box-shadow: 2px 5px 12px rgba(0, 0, 0, 0.2);
    /* transform: scale(1.03); */
    transition: all .3s cubic-bezier(0,0,.5,1);
}

.white_info {
    display: flex;
    justify-content: space-between;
    padding: 0 20px 13px 20px;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);

}

.white_info i {
    font-size: 25px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.categorie_card_name {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    padding: 17px 0 0 20px;
    text-shadow: 0px 0px 20px #ffffffd5;
}

.categorie_card_sum {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}