.btn_green {
    width: 200px;
    background: rgba(71, 234, 106);
    height: 40px;
    border-radius: 20px;
    color: white;
    position: fixed;
    z-index: 1000;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    top: 480px;
    left: 30px;
    box-shadow: 2px 4px 12px rgb(0, 0, 0, 0.08);
    display: none;
}

.btn_green:hover {
    cursor: pointer;
}

@media (max-width:767px) {
    .btn_green {
        bottom: 85px;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: auto;
        width: 350px;
    }
}

@media (max-width:392px) {
    .btn_green {
        max-width: 320px;
    }
}

.only_on_category {
    display: block;
}