.categorie_card {
	display: flex;
	flex-grow: 1;
	box-shadow: -6px -6px 10px #ffffff, 4px 4px 15px 4px rgba(77, 74, 238, 0.226);
	margin: 0 20px 20px 0;
	border-radius: 25px;
	transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
	width: 150px;
	height: 96px;
	background: linear-gradient(301.13deg, #706efd -1.1%, #7ce7ff 105.29%);
	max-width: 400px;
}

@media (max-width: 392px) {
	.categorie_card {
		margin: 0 15px 15px 0;
		min-width: 150px;
	}
}

.categorie_card_info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
}

.categorie_card:hover {
	box-shadow: -10px -10px 15px #ffffff, 8px 8px 16px rgba(0, 0, 0, 0.13);
	/* transform: scale(1.03); */
	transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
}

.white_info {
	display: flex;
	justify-content: space-between;
	padding: 0 20px 13px 20px;
	text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.white_info i {
	font-size: 25px;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}

.rub {
	font-weight: normal;
	font-size: 13px;
}

.categorie_card_name {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 16px;
	padding: 17px 0 0 20px;
	text-shadow: 0px 0px 20px #ffffffd5;
}

.categorie_card_sum {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;
	color: var(--base-panel);
}
