.modal.open {
    display: flex;
}

.modal.close {
    display: none;
}

.modal {
    overflow: hidden;
    z-index: 2000;
    position: fixed;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    /* transition: all .3s cubic-bezier(0,0,.5,1); */
}

.modalContent {
    width: 90%;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: saturate(180%) blur(40px);
    height: 320px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0 -25px 40px rgba(0, 0, 0, 0.192);
    z-index: 2010;
    margin: 0 auto;
    transition: 0.3s all;
    transform: translateY(-200%);
    opacity: 0;
}

.modalContent.openContent {
    transform: translateY(0px);
    opacity: 1;
}

@media (min-width:600px) {
    .modalContent {
        width: 500px;
    }
}

.inputNewCtg {
    margin-top: 25px;
    margin-bottom: 20px;
    width: 85%;
    background-color: rgba(255, 255, 255, 0)
}

input {
    border-radius: 5px;
    height: 35px;
    width: 200px;
    border: none;
    flex-wrap: wrap;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    margin-left: 35px;
    /* box-shadow: 0 4px 15px rgba(0, 0, 0, 0.418); */
}

input:focus {
    border: none;
    outline: none;
}

.modalContent button {
    width: 90%;
    height: 40px;
    background: #47EA6B;
    border-radius: 18px;
    border: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF;
    margin: 50px auto 20px auto;
    align-items: center;
}

.maneyCounterLog {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    margin-left: 35px;
    margin-bottom: 20px;
}

.maneyCounterInput {
    margin-top: 35px;
    margin-left: 35px;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: saturate(180%) blur(80px);
    padding: 5px 5px 5px 20px;
    border-radius: 18px;
    /* box-shadow: 0 4px 15px rgba(0, 0, 0, 0.418); */
}