.content {
	display: flex;
	flex-direction: column;
	align-items: space-between;
	width: 300px;

	.header {
		margin: 0 auto 20px auto;
	}

	input {
		height: 40px;
		border: none;
		border-radius: var(--base-radius);
		padding: 7px 10px;
		box-shadow: var(--base-shadow);
	}

	.btns {
		margin-top: 15px;
		display: flex;
		flex-direction: row;
	}

	.sign-in {
		text-decoration: none;
		color: var(--base-primary);
		margin: 15px auto 0 auto;
		font-weight: 500;
	}

	.sign-in:hover {
		text-decoration: underline;
	}
}
