.navBar {
    height: 60px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
    z-index: 1050;
    max-width: 350px;
    overflow: hidden;
    padding: 0;
    margin: 0 auto;
    position: fixed;
    bottom: 15px;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.72);
    backdrop-filter: saturate(180%) blur(20px);
    border-radius: 20px;
    box-shadow: 2px 4px 12px rgb(0, 0, 0, 0.08);
}

.active {
    font-weight: bold;
}

.navbar_btn {
    width: 50px;
    height: 90%;
    font-family: Roboto;
    font-style: normal;
    font-size: 12px;
    line-height: 12px;
    margin: 3px 15px;
    background-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar_btn:hover {
    cursor: pointer;
}

.icon {
    width: 35px;
    height: 35px;
    font-size: 2.5em;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

@media (max-width:392px) {
    .icon {
        width: 30px;
        height: 30px;
        font-size: 2em;
    }

    .navbar_btn {
       margin: 2px 10px; 
    }

    .navBar {
        max-width: 320px;
        height: 55px;
        margin: 0 auto;
    }
}

@media (min-width:767px) {
    .navBar {
        height: 300px;
        flex-direction: column;
        width: 200px;
        overflow: hidden;
        margin: inherit;
        top: 160px;
        left: 30px;
        right: inherit;
    }

    .navbar_btn {
        display: flex;
        flex-direction: row; 
        justify-content: left;
        margin-left: 20px;
        width: inherit;
        height: 90%;
     }

    .navbar_btn span {
        font-size: 16px;
    }

     .icon {
        font-size: 2.5em;
        margin-right: 20px;
     }

     
}